body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a:hover {
  color: #404bbf;
}

.logo {
  font-family: 'Railway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.logo-span {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-item,
.contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-item:hover,
.contacts-item:focus {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.solutions {
  background-color: #2e2f42;
}

.solutions-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.solutions-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.solutions-button:focus {
  background-color: #404bbf;
}

.advantages-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.team-item-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.portfolio-title {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 4;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.solutions-button:hover {
  background-color: #404bbf;
}

.footer {
  background-color: #2e2f42;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
